<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/styles/clerk/clerk_gin.css">
    <title>Clerk</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Garbage In</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="clerk_gout.html">Garbage Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="clerk_cmpst.html">Compost Production</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Settings
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Change password</a>
                      <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                  </li>
            </ul>
        </div>
    </nav>


    <div id="ginform" class="card text-white mx-auto" style="max-width: 25rem; margin-top: 80px;font-size: 20px; background-color: #04468d;" >
        <div class="card-header" style="font-size: 25px; border-color: white;">Garbage In</div>
        <div class="card-body">

        <form>
            <div class="wrapper">
            <div class="toggle_radio">
                <input type="radio" checked class="toggle_option" id="first_toggle" name="toggle_option" onclick="toggle(0)">
                <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option" onclick="toggle(1)">
                <label for="first_toggle"><p>Billed</p></label>
                <label for="second_toggle"><p>Unbilled</p></label>
                <div class="toggle_option_slider"></div>
            </div>
            </div>  

            <div id="gtype" class="form-group">
                <label for="sel1">Garbage Type</label>
                <select class="form-control" id="selbox1" onchange="getPrice()">
                    <option>----Select TYPE----</option>
                    <option value=degradable>Degradable</option>
                    <option value =nonDegradable>Non-Degradable</option>
                </select>
            </div>       
             
            <div id = "price" class="form-group">
                <label for="pricekg">Price per 1kg(Rs.)</label>
                <label class="form-control" id="priceperkg">
            </div>

            <div id = "gweight" class="form-group">
                <label for="lweight">Weight(kg)</label>
                <input type="number" class="form-control" id="weight" placeholder="kg">
            </div>
        
            
            <div id="bill" class="input-group mb-3">
                <label for="lamount">Bill Amount(Rs.)</label>
                <div id="grp" class="input-group mb-3">
                    <input type="number" class="form-control" id="amount" placeholder="Rs.">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" onclick="calculate()">SHOW</button> 
                    </div>
                </div>
            </div> 
        
            <div id="div7" >
                <button id="btn" class="btn btn-info btn-block" type="button" onclick ="submitGin()">SUBMIT</button>
            </div>
        </form>
        </div>
    </div>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/public/scripts/clerk/clerk_gin.js"></script>  
</body>
</html>
