<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/styles/clerk/clerk_in.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Clerk</title>
  </head>
  <body>
    <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Garbage In</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Garbage Out
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compost Production</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
              <span>Roshinie</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="#">Log Out</a>
              <a class="dropdown-item" href="#">Change Password</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar -->

  <img class="wave" src="/public/images/wave.png">
	<div class="container">

		  <div class="img">
        <img src="/public/images/22.svg">
      </div>
      
      <div class="login-content">
        <div class="card text-white mx-auto" style="width: 400px; bottom: 20px; font-size: 20px; background-color: #04468d;" >
          <div class="card-header" style="font-size: 25px; border-color: white;">Garbage In</div>
          <div class="card-body">
  
          <form>
              <div class="wrapper">
              <div class="toggle_radio">
                  <input type="radio" checked class="toggle_option" id="first_toggle" name="toggle_option" onclick="toggle(0)">
                  <input type="radio" class="toggle_option" id="second_toggle" name="toggle_option" onclick="toggle(1)">
                  <label for="first_toggle"><p>Billed</p></label>
                  <label for="second_toggle"><p>Unbilled</p></label>
                  <div class="toggle_option_slider"></div>
              </div>
              </div>  
  
              <div id="gtype" class="form-group">
                  <label for="sel1">Garbage Type</label>
                  <select class="form-control" id="selbox1" onchange="getPrice()">
                      <option>----Select TYPE----</option>
                      <option value=degradable>Degradable</option>
                      <option value =nondegradable>Non-Degradable</option>
                  </select>
              </div>       
               
              <div id = "price" class="form-group">
                  <label for="pricekg">Price per 1kg(Rs.)</label>
                  <label class="form-control" id="priceperkg">
              </div>
  
              <div id = "gweight" class="form-group">
                  <label for="lweight">Weight(kg)</label>
                  <input type="number" class="form-control" id="weight" placeholder="kg">
              </div>
          
              
              <div id="bill" class="input-group mb-3">
                  <label for="lamount">Bill Amount(Rs.)</label>
                  <div id="grp" class="input-group mb-3">
                      <input type="number" class="form-control" id="amount" placeholder="Rs.">
                      <div class="input-group-append">
                          <button class="btn btn-primary" type="button" onclick="calculate()">SHOW</button> 
                      </div>
                  </div>
              </div> 
          
              <div id="div7" >
                  <button id="btn" class="btn btn-info btn-block" type="button" onclick ="submitGin()">SUBMIT</button>
              </div>
          </form>
          </div>
      </div>
      </div>
    
    

    <script src="/public/scripts/clerk/clerk_in.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
