body{
    background-color: #1F618D;
    color: aliceblue;
  }

  @media screen and (max-width: 600px){
    .img{
      display: none;
    }
    #imgdiv{
      display: none;
    }
  }
  .row{
    flex-wrap: nowrap;
  }