body{
    background-color: #1F618D;
    color: aliceblue;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 
  
  body{
      font-family: 'Poppins', sans-serif;
      overflow: hidden;
  }
  
  .wave{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
  .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :15rem;
    padding: 0 2rem;
}
  
.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
  width: 400px;
}

.img img{
	width: 400px;
}

.card text-white mx-auto{
  height: 500px;
}

.toggle_radio{
  position: relative;
  background: #4237e5;
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
}
.toggle_radio label{
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 110px;
  height: 40px;
  margin: 4px 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}
.toggle_option_slider{
  width: 125px;
  height: 40px;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 120px;
}
#btn{
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
} 

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.card text-white mx-auto{
		width: 300px;
	}

	.img img{
		width: 250px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.card text-white mx-auto{
		justify-content: center;
	}
}
@media screen and (max-width: 500px){
  .login-content{
    width: 350px;
  }
}

/* for the modal */
.modal {
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
/* Modal Content */
.modal-content {
  position: relative;
  /* background-color:#9f6af0; */
  background: linear-gradient(to bottom, #cc66ff 0%, #6699ff 100%);
  margin: auto;
  padding: 0;
  /* border: 1px solid rgb(31, 24, 24); */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: black;
}

.row{
  flex-wrap: nowrap;
}
.fa, .fas {
  font-weight: 1000;
  font-size: 40px;
  width: 50px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  /* padding: 2px 16px; */
  /* background-color:  #6c3483; */
  color: black;
}
.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  color: white;
}

.btn-secondary {
  color: #fff;
  background-color: #8554ca;
  border-color: #8554ca;
}
.btn-secondary:hover {
  background-color: #552d63;
  border-color: #32597f;
}