body{
    background-color:#1F618D;;
}

.navbar-collapse{
    font-size: 20px;
}

.navbar-brand{
    font-size: 26px;
}
.dropdown-menu{
    background-color: #343a40!important;
}
.dropdown-item{
    color: white;
    font-size: 20px;
}

.card text-white mx-auto{
    width: 402px;
    height: 602px;
}
.toggle_radio{
    position: relative;
    background: #4237e5;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type=radio]{
    display: none;
}
.toggle_radio label{
    color: rgba(255,255,255,.9);
    z-index: 0;
    display: block;
    width: 110px;
    height: 40px;
    margin: 4px 4px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}
.toggle_option_slider{
    width: 125px;
    height: 40px;
    position: absolute;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}
  
#first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 120px;
}
#btn{
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
} 
