<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/styles/MOH/home.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function addemployeeFunction() {
        var x = document.getElementById("addemployeefile");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

      function removeemployeeFunction() {
        var x = document.getElementById("removeemployeefile");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

      function employeedetailFunction() {
        var x = document.getElementById("employeedetailfile");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

      function dailyattendenceFunction() {
        var x = document.getElementById("dailyattendencefile");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
    <title>MOH</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Main</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              Handle Employees
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="addEmployee.html">Add Employee</a>
              <a class="dropdown-item" href="removeEmployee.html"
                >Remove Employee</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              Handle users
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Add User</a>
              <a class="dropdown-item" href="#">Remove Employee</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              View Reports
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="dailyattendence.html"
                >Daily Attendence</a
              >
              <a class="dropdown-item" href="#">Vehicle Report</a>
              <a class="dropdown-item" href="#">Garbage Report</a>
              <a class="dropdown-item" href="employeedetail.html"
                >Employee Details</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              Settings
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Change password</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id="addemployeefile" style="display: none;">
      <div class="row row-content bodycontent" id="addemployeefile">
        <div class="col-12 col-sm-4">
          <div class="card">
            <div class="card-body">
              <center><h3 style="color: white;">ADD EMPLOYEE</h3></center>
              <form class="form-group">
                <div id="tooglepart1">
                  <input
                    id="name"
                    type="text"
                    name="Weight1"
                    placeholder="Name"
                  />
                </div>
                <div id="tooglepart2">
                  <input
                    id="id"
                    type="number"
                    name="Weight2"
                    placeholder="Employee ID"
                  />
                </div>
                <div id="tooglepart3">
                  <input
                    id="salid"
                    type="number"
                    name="Weight3"
                    placeholder="Salary-ID"
                  />
                </div>
                <div id="togglepart4">
                  <input
                    id="dob"
                    type="text"
                    name="Bill4"
                    placeholder="Year/Month/Date"
                  />
                </div>
                <div id="togglepart5">
                  <div class="box">
                    <select id="selection">
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                  </div>
                </div>
                <div id="togglepart6">
                  <input
                    id="emtype"
                    type="number"
                    name="Bill5"
                    placeholder="Employee Type"
                  />
                </div>
                <div id="sub">
                  <button id="btn" type="button" onclick="submitAttendance()">
                    ADD
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="removeemployeefile" style="display: none;">
      <div class="row row-content bodycontent" id="removeemployeefile">
        <div class="col-12 col-sm-5">
          <div class="card">
            <div class="card-body">
              <center>
                <h1 style="color: rgb(250, 250, 250);">REMOVE EMPLOYEE</h1>
              </center>
              <form action="" target="_self">
                <br />
                <div id="togglepart">
                  <label
                    for="mass"
                    style="font-family: arial; color: rgb(255, 255, 255);"
                    >Index number</label
                  >
                  <input
                    type="text"
                    id="mass"
                    name="Weight"
                    placeholder="180044"
                  />
                </div>
                <div id="sub">
                  <button id="btn" type="button" onclick="submitAttendance()">
                    REMOVE
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="employeedetailfile" style="display: none;">
      <div class="row row-content bodycontent" id="employeedetailfile">
        <div class="col-12 col-sm-5">
          <div class="card">
            <div class="card-body">
              <center>
                <h1 style="color: rgb(255, 255, 255);">Employee Detail</h1>
              </center>
              <form action="" target="_self">
                <br />
                <div id="togglepart">
                  <label
                    for="mass"
                    style="font-family: arial; color: rgb(255, 255, 255);"
                    >Enter Employee ID</label
                  >
                  <input
                    id="idnum"
                    type="number"
                    name="emp_id"
                    placeholder="180044"
                  />
                </div>
                <div id="sub">
                  <button id="btn" type="button" onclick="viewEmployee()">
                    SUBMIT
                  </button>
                </div>
              </form>
              <div id="detail">
                <p id="empName"></p>
                <p id="empID"></p>
                <p id="empSalID"></p>
                <p id="empGender"></p>
                <p id="empType"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dailyattendencefile" style="display: none;">
      <div class="row row-content bodycontent">
        <div class="col-12 col-sm-5">
          <div class="card">
            <div class="card-body">
              <center>
                <h1 style="color: rgb(255, 255, 255);">Daily Attendence</h1>
              </center>
              <form action="" target="_self">
                <br />
                <div id="togglepart">
                  <label
                    for="mass"
                    style="font-family: arial; color: rgb(255, 255, 255);"
                    >Enter Date</label
                  >
                  <input
                    id="inpdate"
                    type="string"
                    name="emp_id"
                    placeholder="1997-07-28"
                  />
                </div>
              </form>
              <div id="sub">
                <button id="btn" type="button" onclick="viewEmployee()">
                  SUBMIT
                </button>
              </div>
              <div id="detail">
                <p id="empID"></p>
                <p id="empdiv"></p>
                <p id="entdate"></p>
                <p id="vehiclewalk"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="works" id="work">
        <div class="container">
          <div class="row">
            <div class="col-md-3" style="margin-top: 20px;">
              <div class="addemployee" onclick="addemployeeFunction()">
                <div class="icon">
                  <i
                    class="fa fa-user-plus fa-10x"
                    style="
                      color: rgb(255, 254, 254);
                      padding-top: 10%;
                      font-size: 400%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="addEmployee.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Add Employee</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="removeemployee" onclick="removeemployeeFunction()">
                <div class="icon">
                  <i
                    class="fa fa-user-times fa-10x"
                    style="
                      color: rgb(255, 255, 255);
                      font-size: 400%;
                      padding-top: 10%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="removeEmployee.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Remove Employee</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="employeedetails" onclick="employeedetailFunction()">
                <div class="icon">
                  <i
                    class="fa fa-address-card fa-10x"
                    style="
                      color: rgb(255, 255, 255);
                      font-size: 400%;
                      padding-top: 10%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="employeedetail.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Employee Detail</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="dailyattendence" onclick="dailyattendenceFunction()">
                <div class="icon">
                  <i
                    class="fa fa-address-card fa-10x"
                    style="
                      color: rgb(255, 255, 255);
                      font-size: 400%;
                      padding-top: 10%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="dailyattendence.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Daily Attendence</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="adduser">
                <div class="icon">
                  <i
                    class="fa fa-plus-circle fa-10x"
                    style="
                      color: rgb(255, 254, 254);
                      padding-top: 10%;
                      font-size: 400%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="addEmployee.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Add User</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="removeuser">
                <div class="icon">
                  <i
                    class="fa fa-minus-circle fa-10x"
                    style="
                      color: rgb(255, 255, 255);
                      font-size: 400%;
                      padding-top: 10%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="removeEmployee.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Remove User</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="garbagereport">
                <div class="icon">
                  <i
                    class="fa fa-trash-o fa-10x"
                    style="
                      color: rgb(255, 255, 255);
                      font-size: 400%;
                      padding-top: 10%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="employeedetail.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Garbage report</a
                  >
                </p>
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 20px;">
              <div class="vehiclereport">
                <div class="icon">
                  <i
                    class="fa fa-car fa-10x"
                    style="
                      color: rgb(255, 255, 255);
                      font-size: 400%;
                      padding-top: 10%;
                      display: flex;
                      justify-content: center;
                    "
                  ></i>
                </div>
                <p class="namedtl">
                  <a
                    href="dailyattendence.html"
                    style="
                      display: flex;
                      justify-content: center;
                      color: rgb(255, 254, 254);
                    "
                    >Vehicle Report</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
