<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/MOH/home.css" />
    </head>
    <body>
        <div id="ginunbilled" style="display: block;"></div>
        <div id="ginbilledincome"  style="display: block;"></div>
        <div id="ginbilledprice" style="display: none;"></div>
        <div id="goutweight" style="display: block;"></div>
        <div id="goutincome" style="display: none;"></div>
        <div id="compostpackets" style="display: block;"></div>
        <div id="compostprice" style="display: none;"></div>
        <script src="/public/scripts/MOH/monthlygarbagereport.js"></script>
    </body>
</html>
