<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/MOH/home.css" />
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
    </head>
    <body>
      <!-- for gin unbilled chart -->
        <div id="topbar1" style="background-color: #0a3a0a;">
          <div class="input-group mb-3">
              <label for="monthsel">Month:</label>
              <input type="month" id="monthselect" name="monthselect">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>  
              </div>
            </div>
        </div>
        <div id="ginunbilled" style="height: 400px;display: block;"></div><br>

        <!-- for gin billed charts -->
        <div id="topbar2" style="background-color: #1c2576;">
          <div class="input-group mb-3">
              <label for="monthsel">Month:</label>
              <input type="month" id="monthselect" name="monthselect">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Go</button>  
               </div>
            </div>
        </div>
        <div id="ginbilledweight"  style="height: 400px; display: block;"></div>
        <!-- this should be displayed when the income chart button is clicked -->
        <div id="ginbilledprice" style="display: none;"></div><br>

        <!-- for garbage out chart -->
        <div id="topbar3" style="background-color: #1c2576;">
          <div class="input-group mb-3">
              <label for="monthsel">Month:</label>
              <input type="month" id="monthselect" name="monthselect">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Go</button>  
               </div>
            </div>
        </div>
        <div id="goutweight" style="height: 500px;display: block;"></div>
        <!-- this should be displayed when the income chart button is clicked -->
        <div id="goutincome" style="display: none;"></div>

        <!-- for compost in and compost ot chart -->
        <div id="compostpackets" style="display: block;"></div>
        <!-- this should be displayed when the income chart button is clicked -->
        <div id="compostprice" style="display: none;"></div>

        <script src="/public/scripts/MOH/apiCall.js"></script>
        <script src="/public/scripts/MOH/monthlygarbagereport.js"></script>
    </body>
</html>
