<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/MOH/home.css" />
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
    </head>
    <body>
        <div id="togglepart">
            <label for="mass" style="font-family: arial; color: rgb(255, 255, 255);">Type</label>
            <div id="togglepartadduser">
              <div class="box">
                <select id="adduserselection">
                  <option value="unbilled">Garbage In-unbilled</option>
                  <option value="february">Garbage In Income-billed</option>
                  <option value="march">Garbage In Weight-billed</option>
                  <option value="april">Garbage Out Weight-billed</option>
                  <option value="may">Garbage Out Income-billed</option>
                  <option value="june">Compost In Price</option>
                  <option value="july">Compost In Packets</option>
                </select>
              </div>
            </div>
          </div>
            <label for="mass" style="font-family: arial; color: rgb(255, 255, 255);">Month</label>
            <div id="togglepartadduser">
              <div class="box">
                <select id="datesel">
                  <option value="january">January</option>
                  <option value="february">February</option>
                  <option value="march">March</option>
                  <option value="april">April</option>
                  <option value="may">May</option>
                  <option value="june">June</option>
                  <option value="july">July</option>
                  <option value="august">August</option>
                  <option value="september">September</option>
                  <option value="octomber">Octomber</option>
                  <option value="november">November</option>
                  <option value="december">December</option>

                </select>
              </div>
            </div>
          </div>
          <div id="sub">
            <button id="btn" type="button" onclick="seperatereports()">
              ADD USER
            </button>
          </div>
        <div id="ginunbilled" style="display: block;"></div>
        <div id="ginbilledincome"  style="display: block;"></div>
        <div id="ginbilledprice" style="display: block;"></div>
        <div id="goutweight" style="display: block;"></div>
        <div id="goutincome" style="display: none;"></div>
        <div id="compostpackets" style="display: block;"></div>
        <div id="compostprice" style="display: none;"></div>
        <script src="/public/scripts/MOH/monthlygarbagereport.js"></script>
    </body>
</html>
