<html>
    <head>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/public/styles/depot/main.css" />
        <link rel="stylesheet" href="/public/styles/MOH/home.css" />
    </head>
    <body>
      <div id="removeemployeefile">
        <div class="row row-content bodycontent" id="removeemployeefile">
          <div class="col-12 col-sm-4">
            <div class="card">
              <div class="card-body">
                <center>
                  <h3 style="color: rgb(250, 250, 250); display: inline-flex;">REMOVE EMPLOYEE</h3>
                </center>
                <form action="" target="_self">
                  <br />
                  <div id="togglepart">
                    <label for="number" style="font-family: arial; color: rgb(255, 255, 255);">Index number</label>
                    <input type="text" id="removeid" name="removeid" placeholder="180044" />
                  </div>
                  <div id="sub">
                    <button id="btn" type="button" onclick="removeemp()">
                      REMOVE
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="/public/scripts/MOH/removeEmployee.js"></script>
    </body>
</html>
