body {
  background-color: #1f618d;
  color: aliceblue;
  font-size: x-large;
}

.bg-colour {
  background-color: rgb(11, 3, 85);
}

.card {
  border-radius: 10px;
  background-color: #04468d;
}

.bodycontent {
  justify-content: center;
  padding-top: 20px;
}

.form-group {
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

input[type="text"],
input[type="number"],
select {
  font-family: arial;
  color: rgb(7, 7, 7);
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

input[type="submit"] {
  font-family: arial;
  font-size: 14px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#btn {
  width: 325px;
  height: 40px;
  display: inline-block;
  font-size: 20px;
  background-color: cadetblue;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#sub {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.tooglepart1 .tooglepart2 .tooglepart3 .tooglepart4 .tooglepart5 .tooglepart6 {
  background-color: white;
}
